body {
    font: 28px/30px Arial, Helvetica, sans-serif;
    color: #1F1F5C;
}

h1 {
	font-size: 1.6em;
	line-height: 1.4em;
	margin-bottom: 0.3em;
}
h2 {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 0.3em;
}

button {
    border: none;
    color: #1F1F5C;
    font-size: 22px;
    background-color: #eee;
    padding: 20px 15px;
    margin-top: 40px;
}
button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #ccc;
}

.container {
    width: 70%;
    margin: 0 auto;
    min-width: 600px;
    max-width: 1500px;
}

.question {
    font-size: 60px;
    line-height: 64px;
    margin-top: 50px;
    margin-bottom: 50px;
}

input {
    display: none;
}
.answer {
    float: left;
    clear: left;
    margin-bottom: 20px;
    margin-left: 25%;
    padding-left: 10px;
}
.answer:last-child {
	margin-bottom: 40px;
}
.answer:hover {
    cursor: pointer;
    border-left: 2px solid #1F1F5C;
    padding-left: 8px;
}
.answer.correct {
    margin-left: 10%;
    color: #1F1F5C;
}
.answer.incorrect {
    color: #EDDADA;
}

.dimmed {
    color: #ccc;
}


.more {
    clear: both;
    display: none;
    border-top: 2px solid #1F1F5C;
    margin-left: 25%;
}
.information {
	padding-top: 32px;
	font-size: 20px;
	width: 65%;
	float: left;
	text-shadow: 1px 1px 4px #fff;
	margin-bottom: 30px;
}
.information a {
	font-size: 12px;
	color: #999;
}
.next {
    float: right;
}

.progress {
    position: absolute;
    top: 10px;
    right: 0;
}
.progress li {
    list-style-type: disc;
    color: #ccc;
	font-size: 40px;
	line-height: 24px;
}
.progress li.completed {
	color: #1F1F5C;
}

.picture {
	width: 36%;
	height: 50%;
    background: url("http://i.space.com/images/i/000/038/923/original/sygnux-black-hole.jpg?1398874404");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -60px 60px 60px 30px #fff inset;
    z-index: -1;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.introduction, .end {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	margin-top: -10%;
	margin-left: -20%;
	background-color: #fff;
	box-shadow: 3px 3px 3px 3px #ccc;
	text-align: center;
	padding: 20px 30px;
	z-index: 2;
}

